*
!*/

!/.gitignore
!/.gitattributes
!/README.md
!/LICENSE

!/flake.*
!/Cargo.*
!/rust-analyzer.toml
!/Embed.toml

!/.cargo/config.toml

!/crates/**/Cargo.toml
!/crates/**/build.rs
!/crates/**/memory.x
!/crates/**/src/**/*.rs
